.MainContent {
    background-color: #02102b;
    display: flex;
    gap: 20px;
    min-height: 100vh;
    margin: 0 auto;
    width: 75%
}

.MainContent > .mdContainer{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.markdown-body {
    background: transparent !important;
    text-align: left;
    padding: 0;
}

.markdown-body {
    background: transparent !important;
    text-align: left;
    padding: 0;
}

.markdown-body h1 {
    color: #5ad1e6; /* light cyan */
    text-align: left;
}

.markdown-body h2 {
    color: #f7b32b; /* gold */
    text-align: left;
}

.markdown-body h3 {
    color: #ff6f61; /* coral */
    text-align: left;
}

.markdown-body h4 {
    color: #b388ff; /* light purple */
    text-align: left;
}

.markdown-body h5 {
    color: #6ee7b7; /* mint green */
    text-align: left;
}

.markdown-body h6 {
    color: #f87171; /* soft red */
    text-align: left;
}