.MainContent {
    background-color: #041644;
    display: flex;
    gap: 20px;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%
}

.MainContent > .mdContainer{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.markdown-body {
    background: transparent !important;
    text-align: left;
    padding: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    text-align: center;
}