.MainContent {
    background-color: #23272f;
    display: flex;
    gap: 20px;
    min-height: 100vh;
    margin: 0 auto;
    flex: 1;
}

.MainContent > .mdContainer{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.markdown-body {
    background: transparent !important;
    text-align: left;
    padding: 0;
}

.markdown-body {
    background: transparent !important;
    text-align: left;
    padding: 0;
}

.markdown-body h1 {
    color: #dad8d8; /* sidebar highlight */
    text-align: left;
}

.markdown-body h2 {
    color: #8ecae6; /* sidebar folder blue */
    text-align: left;
}

.markdown-body h3 {
    color: #219ebc; /* sidebar folder hover blue */
    text-align: left;
}

.markdown-body h4 {
    color: #e0e0e0; /* sidebar text */
    text-align: left;
}

.markdown-body h5 {
    color: #bfc8d0; /* lighter gray for contrast */
    text-align: left;
}

.markdown-body h6 {
    color: #3a3f4b; /* sidebar file hover background */
    text-align: left;
}