.App {
  text-align: center;
  background-color: #223138;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainLayout {
    display: flex;
    width: 95%;
    margin: 0 auto;
    min-height: 100vh;
}

.small {
  font-size: 0.75rem;
}